exclude setup.py
exclude MANIFEST.in
exclude .pypirc
recursive-include tdbear/analyzer/dataset *
global-exclude *.bat
global-exclude *.pyc
global-exclude .vscode
global-exclude .gitignore
global-exclude __pycache__
