exclude setup.py
exclude MANIFEST.in
exclude .pypirc
global-exclude *.bat
global-exclude *.pyc
global-exclude .flake8
global-exclude .vscode
global-exclude .gitignore
global-exclude __pycache__
recursive-include tdbear/analyzer/dataset *
recursive-include tdbear/sampler/ *